html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: $main-font;
  font-weight: 300;
  font-style: normal;
}
.block__row {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

// скролл bar

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: $color-dark-3xl;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
