@import '../sass/normalaiz.scss';
@import '../sass/variables.scss';
@import '../sass/general.scss';
@media (max-width: 700px) {
  .burger span {
    position: absolute;
    width: 31px;
    height: 0px;
    border: 1.5px solid #000;
    transition: transform 0.5s, opacity 0.5s;
  }
}
.header {
  padding: 30px 0px 29px;
  @media (max-width: 946px) {
    padding: 30px 10px 29px;
  }

  &__name {
    color: $color-dark-l;
  }

  &__description {
    color: $color-dark-3xl;
  }
}

.navigation {
  align-self: center;
  font-family: $additional-font;
  font-size: 15px;
  &__list {
    display: flex;
  }

  &__li {
    margin-left: 36px;
    a {
      color: $color-dark-l;
    }
  }
  &__li:hover {
    a {
      color: $color-dark-3xl;
    }
  }
  &__li_active {
    border-bottom: $color-primary solid 3px;
    padding-bottom: 4px;
    a {
      color: $color-dark-3xl;
    }
  }
}

.pets {
  background: $color-light-l;
  color: $color-dark-l;
  padding: 80px 0 100px 0;
  @media (max-width: 946px) {
    padding: 80px 0 76px 0;
  }
  @media (max-width: 470px) {
    padding: 41px 0 44px 0;
  }

  &__title {
    @extend %title-h2;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 58px;
    @media (max-width: 946px) {
      margin-bottom: 29px;
    }
    @media (max-width: 470px) {
      margin-bottom: 42px;
    }
  }
}

.slider {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
  }

  &__card {
    text-align: center;
    background: $color-light-s;
    border-radius: 9px;
    padding-bottom: 30px;
  }

  &__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
    cursor: pointer;
    transition: all 0.5s;
  }
  &__card:hover &__button {
    background-color: $color-primary-light;
    border: 2px $color-primary-light solid;
    transition: all 0.5s;
  }

  @media (max-width: 770px) {
    &__card-none {
      display: none;
    }
  }
  @media (max-width: 405px) {
    &__card-noneM {
      display: none;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0;
  }

  &__button {
    @extend %button-style;
    background-color: rgba(0, 0, 0, 0);
    border: 2px $color-primary solid;
  }
}

.flip-through {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 116%;
  letter-spacing: 0.06em;
  margin-top: 60px;
  @media (max-width: 946px) {
    margin-top: 40px;
  }
  &__arrow {
    @extend %border;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    @media (max-width: 470px) {
      margin-right: 10px;
    }
  }
  &__arrow-left {
    @extend %border-inactive;
  }
  &__arrow-current {
    background-color: $color-primary;
  }

  &__arrow-right {
  }
  &__arrow:last-child {
    margin-right: 0px;
  }
}
