@import '../sass/variables.scss';

.additional-container {
  // padding: 0 78px;
  width: 925px;
  margin: 0 auto;
}
.header {
  padding-top: 30px;

  &__name {
    letter-spacing: 0.06em;
    color: $color-primary;
    font-size: 32px;
    font-weight: 300;
  }

  &__description {
    font-family: $additional-font;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 4px;
    color: $color-light-xl;
    letter-spacing: 0.1em;
  }
}

.navigation {
  align-self: center;
  font-family: $additional-font;
  font-size: 15px;
  &__list {
    display: flex;
  }

  &__li {
    margin-left: 36px;
    a {
      color: $color-dark-s;
    }
  }
  &__li:hover {
    a {
      color: $color-light-s;
    }
  }
  &__li_active {
    border-bottom: $color-primary solid 3px;
    padding-bottom: 4px;
    a {
      color: #fafafa;
    }
  }
}

// блок start-screen
.start-screen__conteiner {
  margin-top: 86px;
  padding-bottom: 3px;
}
.start-screen {
  background: url(../imgs/start-screen-gradient-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__content {
    margin-top: 167px;
    width: 460px;
  }

  &__title {
    color: $color-light-xl;
    font-size: 44px;
    font-weight: 300;
    width: 310px;
    line-height: 130%;
    margin-bottom: 41px;
  }

  &__text {
    @extend %text-font;
    color: $color-dark-s;
    margin-bottom: 59px;
    line-height: 160%;
  }

  &__button {
    @extend %button-style;
    background-color: $color-primary;
  }

  &__dog {
    width: 698px;
    height: 728px;
  }
}

// блок abaut

.about {
  margin: 80px 175px 100px;
  &__container {
    width: 929px;
  }
  &__image {
    margin-right: 120px;
  }

  &__content {
    margin-top: 15px;
  }

  &__title {
    @extend %title-h2;
    font-family: $main-font;
    width: 370px;
  }

  &__text {
    @extend %text-font;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-xl;
    margin-top: 24px;
  }
}

// pets

.pets {
  background: $color-light-l;
  color: $color-dark-l;
  padding: 80px 0 117px 0;

  &__title {
    @extend %title-h2;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__container-button {
    text-align: center;
    margin-top: 75px;
  }

  &__button {
    @extend %button-style;
    background-color: $color-primary;
  }
}

.slider {
  display: flex;
  justify-content: center;

  &__arrow-left {
    @extend %border;
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-left.png);
    margin-right: 54px;
  }

  &__cards {
    display: flex;
  }

  &__card {
    text-align: center;
    background: $color-light-s;
    border-radius: 9px;
    padding-bottom: 30px;
    margin-right: 90px;
  }
  &__card:last-child {
    margin-right: 53px;
  }

  &__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
    cursor: pointer;
    transition: all 0.5s;
  }
  &__card:hover &__button {
    background-color: $color-primary-light;
    border: 2px $color-primary-light solid;
    transition: all 0.5s;
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0;
  }

  &__button {
    @extend %button-style;
    background-color: rgba(0, 0, 0, 0);
    border: 2px $color-primary solid;
  }

  &__arrow-right {
    @extend %border;
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-right.png);
  }
}

// help

.help {
  padding: 80px 0 99px 0;
  &__title {
    @extend %title-h2;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    justify-content: center;
    text-align: center;
    @media (min-width: 1300px) {
      width: 1065px;
      margin: 0 auto;
    }
  }
  &__block {
    margin-right: 120px;
  }
  &__block-no-margin {
    margin-right: 0px;
  }
  &__icon {
    margin: 0 auto;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 30px;
  }
}

// блок donation

.donation {
  background: $color-light-l;
  padding: 81px 143px 100px;
  &__container {
    width: 992px;
  }
  &__img {
    align-self: center;
    margin-right: 30px;
  }

  &__title {
    @extend %title-h2;
    width: 300px;
  }

  &__description-card {
    @extend %text-font;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 20px 0 18px;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    border-radius: 9px;
    width: 349px;
    padding: 10px 15px;
    margin-bottom: 20px;
  }

  &__card-number {
    font-size: 20px;
    line-height: 115%;
    color: $color-dark-l;
    letter-spacing: 0.06em;
  }

  &__text {
    font-family: $additional-font;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: $color-dark-m;
  }
}

// блок footer

.footer {
  background: url(../imgs/start-screen-gradient-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  &__column {
    padding-top: 16px;
  }

  &__title {
    @extend %title-h2;
    color: $color-light-xl;
    margin-bottom: 33px;
  }

  &__linc {
    display: flex;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    margin-bottom: 25px;

    height: 46px;
  }

  &__icon {
    height: 32px;
    margin-right: 20px;
    align-self: center;
  }
  &__text {
    align-self: center;
  }
  &__img {
    height: 310px;
  }
}
