@import '../sass/variables.scss';
@media (max-width: 767px) {
  .burger span {
    position: absolute;
    width: 31px;
    height: 0px;
    border: 1.5px solid $color-primary;
    transition: transform 0.5s, opacity 0.5s;
  }
}
.additional-container {
  // padding: 0 78px;
  width: 925px;
  margin: 0 auto;
}

// блок start-screen
.start-screen__conteiner {
  margin-top: 86px;
  padding-bottom: 3px;
  @media (max-width: 946px) {
    margin-top: 0px;
    padding-bottom: 0px;
  }
}
.start-screen {
  background: url(../imgs/start-screen-gradient-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background: url(../imgs/noise_transparent.png),
  //   radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%),
  //   linear-gradient(0deg, #211f20, #211f20);
  &__content {
    margin-top: 167px;
    max-width: 460px;
    @media (max-width: 946px) {
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 100px;
    }
    @media (max-width: 405px) {
      margin: 59px 0 106px;
    }
  }

  &__title {
    color: $color-light-xl;
    font-size: 44px;
    font-weight: 300;
    width: 310px;
    line-height: 130%;
    margin-bottom: 41px;
    @media (max-width: 470px) {
      margin: 0 auto;
      font-size: 26px;
      text-align: center;
      margin-bottom: 41px;
    }
    @media (max-width: 405px) {
      width: 295px;
      letter-spacing: 0.9px;
      margin-bottom: 38px;
    }
  }

  &__text {
    @extend %text-font;
    color: $color-dark-s;
    margin-bottom: 59px;
    line-height: 160%;
    @media (max-width: 946px) {
      margin-bottom: 42px;
    }
    @media (max-width: 470px) {
      margin: 0 auto;
      width: 300px;
      margin-bottom: 42px;
    }
    @media (max-width: 405px) {
      text-align: center;
    }
  }
  &__container-button {
    @media (max-width: 946px) {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    @extend %button-style;
    background-color: $color-primary;
  }
  &__image {
    @media (max-width: 946px) {
      text-align: -webkit-right;
    }
  }
  &__dog {
    width: 698px;
    height: 728px;
    @media (max-width: 1037px) {
      width: 569px;
      height: 593px;
    }
    @media (max-width: 600px) {
      width: 360px;
      height: 371.77px;
    }
    @media (max-width: 450px) {
      width: 260px;
      height: 271.77px;
    }
  }
}

// блок abaut

.about {
  margin: 80px 175px 100px;
  @media (max-width: 1104px) {
    margin: 81px 0px 100px;
  }
  @media (max-width: 946px) {
    margin: 81px 159px 100px;
  }
  @media (max-width: 700px) {
    margin: 81px 38px 81px;
  }
  @media (max-width: 500px) {
    margin: 42px 0 42px;
  }
  &__container {
    max-width: 929px;
    @media (max-width: 946px) {
      max-width: 708px;
    }
  }
  &__image {
    margin-right: 120px;
    @media (max-width: 946px) {
      margin-right: 0px;
      margin-top: 80px;
    }
    @media (max-width: 500px) {
      margin-top: 38px;
    }
  }
  &__img-pets {
    @media (max-width: 946px) {
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      width: 260px;
      height: 353.6px;
    }
    // @media (max-width: 400px) {
    //   width: 260px;
    //   height: 353.6px;
    // }
  }

  &__content {
    margin-top: 15px;
    @media (max-width: 946px) {
      margin-top: 0;
    }
  }

  &__title {
    @extend %title-h2;
    font-family: $main-font;
    width: 370px;
    @media (max-width: 500px) {
      text-align: center;
      width: 300px;
      margin: 0 auto;
    }
  }

  &__text {
    @extend %text-font;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-xl;
    margin-top: 24px;
    @media (max-width: 768px) {
      width: 430px;
    }
    @media (max-width: 500px) {
      width: 300px;
      margin: 0 auto;
      margin-top: 24px;
    }
    @media (max-width: 405px) {
      text-align: justify;
      width: 271px;
    }
  }
}

// pets

.pets {
  background: $color-light-l;
  color: $color-dark-l;
  padding: 80px 0 117px 0;
  @media (max-width: 500px) {
    padding: 43px 0 58px;
  }

  &__title {
    @extend %title-h2;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    @media (max-width: 470px) {
      margin-bottom: 41px;
    }
  }

  &__container-button {
    text-align: center;
    margin-top: 75px;
    @media (max-width: 470px) {
      margin-top: 131px;
    }
  }

  &__button {
    @extend %button-style;
    background-color: $color-primary;
  }
}

.slider {
  display: flex;
  justify-content: center;
  @media (max-width: 470px) {
    position: relative;
  }

  &__arrow-left {
    @extend %border;
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-left.png);
    margin-right: 54px;
    @media (max-width: 1276px) {
      margin-right: 12px;
    }
    @media (max-width: 714px) {
      margin-right: 35px;
    }
    @media (max-width: 470px) {
      position: absolute;
      top: 455px;
      left: 57px;
    }
  }

  &__cards {
    display: flex;
    width: 1080px;
    column-gap: 90px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1276px) {
      column-gap: 40px;
    }
    @media (max-width: 470px) {
      column-gap: 0px;
    }
  }

  &__card-none {
    @media (max-width: 1100px) {
      display: none;
    }
    // @media (max-width: 768px) {
    //   display: none;
    // }
  }
  &__card-none1 {
    @media (max-width: 714px) {
      display: none;
    }
  }

  &__card {
    text-align: center;
    background: $color-light-s;
    border-radius: 9px;
    padding-bottom: 30px;
    position: relative;
  }
  .fu {
    animation: move 1.5s;
  }
  @keyframes move {
    from {
      left: -650px;
    }
    to {
      left: 0px;
    }
  }

  .ri {
    animation: move-ri 1.5s;
  }
  @keyframes move-ri {
    from {
      right: -650px;
    }
    to {
      right: 0px;
    }
  }

  &__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
    cursor: pointer;
    transition: all 0.5s;
  }
  &__card:hover &__button {
    background-color: $color-primary-light;
    border: 2px $color-primary-light solid;
    transition: all 0.5s;
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0;
  }

  &__button {
    @extend %button-style;
    background-color: rgba(0, 0, 0, 0);
    border: 2px $color-primary solid;
  }

  &__arrow-right {
    @extend %border;
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-right.png);
    margin-left: 54px;
    @media (max-width: 1276px) {
      margin-left: 12px;
    }
    @media (max-width: 714px) {
      margin-left: 35px;
    }

    @media (max-width: 470px) {
      position: absolute;
      top: 455px;
      right: 59px;
    }
  }
}

// help

.help {
  padding: 80px 0 99px 0;
  @media (max-width: 500px) {
    padding: 41px 0 41px;
  }
  &__title {
    @extend %title-h2;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    @media (max-width: 500px) {
      margin-bottom: 41px;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
    text-align: center;
    @media (min-width: 1300px) {
      width: 1065px;
      margin: 0 auto;
    }
    @media (max-width: 1030px) {
      margin: 0 auto;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0px;
      width: 689px;
      grid-row-gap: 55px;
    }
    @media (max-width: 697px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      column-gap: 0px;
      width: 504px;
      grid-row-gap: 40px;
    }
    @media (max-width: 500px) {
      width: 295px;

      column-gap: 24px;
      grid-row-gap: 29px;
    }
  }
  &__block {
    align-self: center;
  }
  // &__block-no-margin {
  //   margin-right: 0px;
  // }
  &__icon {
    margin: 0 auto;

    @media (max-width: 405px) {
      width: 50px;
      height: 50px;
    }
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-top: 30px;
    @media (max-width: 405px) {
      font-size: 15px;
      margin-top: 21px;
    }
  }
}

// блок donation

.donation {
  background: $color-light-l;
  padding: 81px 143px 100px;

  @media (max-width: 1224px) {
    margin: 0 auto;
    padding: 81px 0px 100px;
  }
  @media (max-width: 500px) {
    padding: 41px 0px 42px;
  }
  &__container {
    max-width: 992px;
  }

  &__img {
    align-self: center;
    margin-right: 30px;
    @media (max-width: 946px) {
      margin-right: 0px;
    }
    @media (max-width: 600px) {
      width: 375px;
    }
    @media (max-width: 470px) {
      width: 260px;
      height: 135.2px;
    }
  }
  &__content {
    @media (max-width: 946px) {
      margin: 0 auto;
      margin-bottom: 60px;
    }
    @media (max-width: 500px) {
      margin-bottom: 42px;
    }
    @media (max-width: 320px) {
      margin: 0 0 42px;
      padding: 0 10px;
    }
  }
  &__title {
    @extend %title-h2;
    width: 300px;
    @media (max-width: 500px) {
      width: 208px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__description-card {
    @extend %text-font;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin: 20px 0 18px;
    @media (max-width: 470px) {
      letter-spacing: 0em;
      text-align: center;
      margin: 24px 0 23px;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    border-radius: 9px;
    width: 349px;
    padding: 10px 15px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      width: 279px;
      align-self: center;
      font-size: 15px;
    }
  }

  &__card-number {
    font-size: 20px;
    line-height: 115%;
    color: $color-dark-l;
    letter-spacing: 0.06em;
    @media (max-width: 500px) {
      align-self: center;
      font-size: 15px;
    }
  }

  &__text {
    font-family: $additional-font;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: $color-dark-m;
    @media (max-width: 946px) {
      width: 380px;
    }
    @media (max-width: 500px) {
      width: 278px;
      text-align: justify;
    }
  }
}
