@font-face {
  font-family: 'Georgia';
  src: url(../fonts/georgia-regular.ttf); }
@font-face {
  font-family: 'Arial';
  src: url(../fonts/arial/arial-regular.ttf); }
.about__title, .pets__title, .help__title, .donation__title, .footer__title {
  font-weight: 300;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

.start-screen__text, .about__text, .donation__description-card {
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-size: 15px; }

.start-screen__button, .pets__button, .slider__button {
  color: #292929;
  border-radius: 100px;
  padding: 14.5px 44px;
  letter-spacing: 0.08em;
  border: 2px #f1cdb3 solid;
  cursor: pointer; }

.start-screen__button:hover, .pets__button:hover, .slider__button:hover {
  background-color: #fddcc4;
  border: 2px #fddcc4 solid;
  transition: all 0.5s; }

.slider__arrow-left, .slider__arrow-right {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  color: #292929;
  cursor: pointer; }

.slider__arrow-left:hover, .slider__arrow-right:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
  transition: all 0.5s; }

.additional-container {
  width: 925px;
  margin: 0 auto; }

.header {
  padding-top: 30px; }
  .header__name {
    letter-spacing: 0.06em;
    color: #f1cdb3;
    font-size: 32px;
    font-weight: 300; }
  .header__description {
    font-family: "Arial";
    font-size: 13px;
    margin-top: 10px;
    margin-left: 4px;
    color: #ffffff;
    letter-spacing: 0.1em; }

.navigation {
  align-self: center;
  font-family: "Arial";
  font-size: 15px; }
  .navigation__list {
    display: flex; }
  .navigation__li {
    margin-left: 36px; }
    .navigation__li a {
      color: #cdcdcd; }
  .navigation__li:hover a {
    color: #fafafa; }
  .navigation__li_active {
    border-bottom: #f1cdb3 solid 3px;
    padding-bottom: 4px; }
    .navigation__li_active a {
      color: #fafafa; }

.start-screen__conteiner {
  margin-top: 86px;
  padding-bottom: 3px; }

.start-screen {
  background: url(../imgs/start-screen-gradient-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .start-screen__content {
    margin-top: 167px;
    width: 460px; }
  .start-screen__title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 300;
    width: 310px;
    line-height: 130%;
    margin-bottom: 41px; }
  .start-screen__text {
    color: #cdcdcd;
    margin-bottom: 59px;
    line-height: 160%; }
  .start-screen__button {
    background-color: #f1cdb3; }
  .start-screen__dog {
    width: 698px;
    height: 728px; }

.about {
  margin: 80px 175px 100px; }
  .about__container {
    width: 929px; }
  .about__image {
    margin-right: 120px; }
  .about__content {
    margin-top: 15px; }
  .about__title {
    font-family: "Georgia";
    width: 370px; }
  .about__text {
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    margin-top: 24px; }

.pets {
  background: #f6f6f6;
  color: #545454;
  padding: 80px 0 117px 0; }
  .pets__title {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px; }
  .pets__container-button {
    text-align: center;
    margin-top: 75px; }
  .pets__button {
    background-color: #f1cdb3; }

.slider {
  display: flex;
  justify-content: center; }
  .slider__arrow-left {
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-left.png);
    margin-right: 54px; }
  .slider__cards {
    display: flex; }
  .slider__card {
    text-align: center;
    background: #fafafa;
    border-radius: 9px;
    padding-bottom: 30px;
    margin-right: 90px; }
  .slider__card:last-child {
    margin-right: 53px; }
  .slider__card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #ffffff;
    cursor: pointer;
    transition: all 0.5s; }
  .slider__card:hover .slider__button {
    background-color: #fddcc4;
    border: 2px #fddcc4 solid;
    transition: all 0.5s; }
  .slider__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0; }
  .slider__button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px #f1cdb3 solid; }
  .slider__arrow-right {
    align-self: center;
    background-image: url(../imgs/pets/slider-Arrow-right.png); }

.help {
  padding: 80px 0 99px 0; }
  .help__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px; }
  .help__blocks {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    justify-content: center;
    text-align: center; }
    @media (min-width: 1300px) {
      .help__blocks {
        width: 1065px;
        margin: 0 auto; } }
  .help__block {
    margin-right: 120px; }
  .help__block-no-margin {
    margin-right: 0px; }
  .help__icon {
    margin: 0 auto; }
  .help__subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px; }

.donation {
  background: #f6f6f6;
  padding: 81px 143px 100px; }
  .donation__container {
    width: 992px; }
  .donation__img {
    align-self: center;
    margin-right: 30px; }
  .donation__title {
    width: 300px; }
  .donation__description-card {
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 20px 0 18px; }
  .donation__card {
    display: flex;
    justify-content: space-between;
    background-color: #f1cdb3;
    border-radius: 9px;
    width: 349px;
    padding: 10px 15px;
    margin-bottom: 20px; }
  .donation__card-number {
    font-size: 20px;
    line-height: 115%;
    color: #545454;
    letter-spacing: 0.06em; }
  .donation__text {
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #b2b2b2; }

.footer {
  background: url(../imgs/start-screen-gradient-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px; }
  .footer__column {
    padding-top: 16px; }
  .footer__title {
    color: #ffffff;
    margin-bottom: 33px; }
  .footer__linc {
    display: flex;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin-bottom: 25px;
    height: 46px; }
  .footer__icon {
    height: 32px;
    margin-right: 20px;
    align-self: center; }
  .footer__text {
    align-self: center; }
  .footer__img {
    height: 310px; }

/*# sourceMappingURL=style.css.map */
